# URL del backend IMCUFIDEEM (sin slash final)
# En desarrollo: http://localhost:5001
# En producción: https://imcufideem-mus-backend.vercel.app
VITE_API_URL=https://imcufideem-mus-backend.vercel.app
